.containerNavbar{
    display: flex;
    justify-content: flex-end;
    border: 1px solid black;
}

.containerContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 600px;
}

.containerFooter{
    display: flex;
    flex-direction: column;
}

.containerSubMenu{
    display: flex;
    justify-content: space-between;
}